# Base ENV
SECRET_KEY
DEBUG
ALLOWED_HOSTS
PROJECT_NAME
USE_CELERY

# Deploy
SITE_URL
WEB_PROTOCOL
GUNICORN_PORT
MEDIA_ROOT
MEDIA_URL
STATIC_ROOT


# DB
POSTGRES_DB
POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_HOST
POSTGRES_PORT
CONN_MAX_AGE


# REDIS
REDIS_URI
REDIS_TIMEOUT
REDIS_HOST
REDIS_PORT
REDIS_PASSWORD
REDIS_DB
REDIS_KEY_PREFIX

# JWT
#In minutes
ACCESS_TOKEN_LIFETIME
#In days
REFRESH_TOKEN_LIFETIME

# GUNICORN
GUNICORN_WORKERS=1
GUNICORN_TIMEOUT=10
GUNICORN_PORT=8000

# CELERY
CELERY_BROKER_URL
CELERY_RESULTS_BACKEND
